services:
  web:
    image: nginx:1.27-alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/:/etc/nginx/
      - ./www:/var/www/html
    depends_on:
      - php 
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lab2_php
    volumes:
      - ./www:/var/www/html
    expose:
      - "9000"
